# Datasource configuration
DATASOURCE_URL="https://coinmarketcap.com/currencies"

# Kafka configuration
KAFKA_HOST="localhost:29092"
KAFKA_TOPIC="cryptoward-events"

# Postgres configuration
DB_HOST="localhost"
DB_PORT=5432
DB_USER="cryptoward"
DB_PASSWORD="cryptoward-password"
DB_NAME="CRYPTOWARD"
