DATASOURCE_URL="https://coinmarketcap.com/currencies"
DATASOURCE_NAME="CoinMarketCap"
DATASOURCE_DESCRIPTION="CoinMarketCap is a website that provides cryptocurrency market capitalization rankings, charts, and more."
