[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "~=2.32"
beautifulsoup4 = "~=4.13"
pydantic = "~=2.10"
pydantic-settings = "~=2.7"
loguru = "~=0.7"
kafka-python = "~=2.2"
inject = "~=5.2"
scheduler = "~=0.8"
sqlmodel = "~=0.0.24"

[dev-packages]
pre-commit = "==4.1.0"
pytest = "==8.3.4"
pytest-cov = "==6.0.0"
ruff = "==0.9.5"
pylint = "==3.3.4"
ipykernel = "==6.29.5"
ipynbname = "==2024.1.0.0"
pytest-recording = "==0.13.4"
mockafka-py = "==0.1.63"
polyfactory = "==2.21.0"
pytest-mock = "==3.14.0"

[requires]
python_version = "3.12"

[scripts]
format = "pre-commit run --all-files"
test = "pytest --cov=cryptoward --cov-report=term-missing"
producer = "python -m cryptoward.price_scrapper.main"
