interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://coinmarketcap.com/currencies/bitcoin
  response:
    body:
      string: "<!DOCTYPE HTML PUBLIC \"-//IETF//DTD HTML 2.0//EN\">\r\n<html>\r\n<head><title>301
        Moved Permanently</title></head>\r\n<body>\r\n<center><h1>301 Moved Permanently</h1></center>\r\n<hr/>Powered
        by Tengine<hr><center>tengine</center>\r\n</body>\r\n</html>\r\n"
    headers:
      Content-Type:
      - text/html
      Location:
      - https://coinmarketcap.com/currencies/bitcoin/?_t=1764362181084
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://coinmarketcap.com/currencies/bitcoin/?_t=1764362181084
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\" dir=\"ltr\"><head><meta charSet=\"utf-8\"/><meta
        http-equiv=\"x-ua-compatible\" content=\"ie=edge\"/><meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no,
        shrink-to-fit=no\"/><link rel=\"manifest\" href=\"/manifest.json\"/><script
        type=\"application/ld+json\">{\"@context\":\"https://schema.org/\",\"@type\":\"Product\",\"name\":\"Bitcoin\",\"aggregateRating\":{\"@type\":\"AggregateRating\",\"ratingValue\":4.7,\"bestRating\":5,\"ratingCount\":2,\"itemReviewed\":\"\"}}</script><meta
        property=\"og:url\" content=\"https://coinmarketcap.com/currencies/bitcoin/\"/><link
        rel=\"canonical\" href=\"https://coinmarketcap.com/currencies/bitcoin/\"/><link
        rel=\"alternate\" hrefLang=\"ar\" href=\"https://coinmarketcap.com/ar/currencies/bitcoin/\"/><link
        rel=\"alternate\" hrefLang=\"bg\" href=\"https://coinmarketcap.com/bg/currencies/bitcoin/\"/><link
        rel=\"alternate\" hrefLang=\"cs\" href=\"https://coinmarketcap.com/cs/curren[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://coinmarketcap.com/currencies/ethereum
  response:
    body:
      string: "<!DOCTYPE HTML PUBLIC \"-//IETF//DTD HTML 2.0//EN\">\r\n<html>\r\n<head><title>301
        Moved Permanently</title></head>\r\n<body>\r\n<center><h1>301 Moved Permanently</h1></center>\r\n<hr/>Powered
        by Tengine<hr><center>tengine</center>\r\n</body>\r\n</html>\r\n"
    headers:
      Content-Type:
      - text/html
      Location:
      - https://coinmarketcap.com/currencies/ethereum/?_t=1764362137071
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://coinmarketcap.com/currencies/ethereum/?_t=1764362137071
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\" dir=\"ltr\"><head><meta charSet=\"utf-8\"/><meta
        http-equiv=\"x-ua-compatible\" content=\"ie=edge\"/><meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no,
        shrink-to-fit=no\"/><link rel=\"manifest\" href=\"/manifest.json\"/><sc[...]
